#tombola {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 10rem);
    height: 100vh;
    gap: 1rem;
    margin: 0 5rem;
    justify-content: space-between;
    align-content: flex-start;
}

body{
	background: #ededed;
}

.casella {
    box-sizing: border-box;
    flex: 0 0 calc(10% - 1rem); /* Adjust for the gap */
    height: calc(10vh - 1rem); /* Adjust for the gap */
    border: 1px solid #000;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    position: relative;
}
.casella.checked:before{
	content: '';
}
.casella:before{
    content: attr(data-i);
    color: gray;
    position: absolute;
    font-size: 1.8rem;
    top: 8px;
    left: 8px;
}

.casella span{
	position: absolute;
	color: #fefefe;
	font-size: 3rem
}

.casella.checked {
    background-color: green;
    color: white;
}


#actions{
	margin:5rem;
}

#actions * {
	font-size: 3rem
}

#actions #segna, #actions #random{
	font-size: 3rem;
    background: green;
    border-color: green;
    border-radius: 1rem;
    cursor: pointer;
    padding: 0 2rem;
    color: #fefefe
}

.action-container{
	margin-bottom: 2rem
}